</br>
</br>
<h2>Welcome to</h2>
<h1>Peeper!</h1>
<br/>
<div class="actions">
    <%= link_to "Sign Up", new_peeper_registration_path %>
</div>
<div class="actions">
    <%= link_to "Sign In", new_peeper_session_path %>
</div>
<br/>
<h3>And watch what is going on</h3>
<br/>